<div class="card m-5">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>Carlos Josué Hernández Funes</p>
        <p>Ejercicio realizado: conectar Node Js con MongoDB</p>
    </div>
</div>