<div class="jumbotron mt-4 bg-light p-5 m-5">
    <h1 class="display-4">App Nodejs y MongoDB</h1>
    <p class="lead">Aplicacion ejercicio </p>
    <hr class="my-4">
    <p>Registro de datos de empleados</p>
</div>