<div class="py-5 bg-dark">
    <footer>
        <div class="container my-auto py-1">
            <div class="text-center my-auto">
                <span class="text-white">Derechos reservados</span>
            </div>
        </div>
    </footer>
</div>